body{
    background-color: antiquewhite;
    color: brown;
    text-align: center;
    font-size: 20px;
}
h1{
    font-size: 4rem;
    margin: 0;
    color: black;
}
p{
    margin: 0;
}
#heading{
    width: 35%;
    margin: auto;
}
#Image{
    background-color: wheat;
    padding: 60px;
    margin: 20px;
}
img{
    border: 5px solid brown;
    width: 50%;
    margin-bottom: 20px;
}
footer{
    background-color: wheat;
    color: black;
}
